<header class="navbar navbar-expand-md d-print-none">
  <div class="container-xl">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#sidebar-menu" aria-controls="sidebar-menu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <h1 class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-0 pe-md-3">
      <img src="/assets/brand.svg" alt="Domus" class="navbar-brand-image" />
    </h1>

    <div class="navbar-nav flex-row order-md-last">
      <div class="nav-item dropdown">
        <a href="#" class="nav-link d-flex lh-1 text-reset p-0" data-bs-toggle="dropdown" aria-label="Открыть меню пользователя">
          <span class="avatar avatar-sm">A</span>
          <div class="d-none d-xl-block ps-2">
            <div id="userDisplayName">Администратор</div>
            <div class="mt-1 small text-secondary" id="userEmail">admin@example.com</div>
          </div>
        </a>
        <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
          <a href="#" class="dropdown-item" id="logoutLink">Выйти</a>
        </div>
      </div>
    </div>
  </div>
</header>
